@font-face {
    font-family: 'ZenlessFont';
    src: url('/public/ttf/ZenlessZoneZero_Police.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: ZenlessFont, sans-serif;
    margin: 0;
    background: #333333;
    color: #eee;
    letter-spacing: 3px;
}
h1 {
    text-align: left;
    font-size: 24px;
    color: #A6EC34;
    margin-top: 2rem;
    margin-left: 32px;
    text-shadow: 4px 0 black, -4px 0 black, 0 4px black, 0 -4px black,
    4px 4px black, -4px -4px black, 4px -4px black, -4px 4px black;
}

.personnage-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1rem;
    padding: 1rem;
}
.personnage-card {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 1rem;
    background: #fafafa;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
.personnage-img {
    width: 100%;
    max-width: 180px;
    border-radius: 10px;
    margin-bottom: 0.5rem;
}

.main-header {
    background-color: #FFAF2A;
    border-bottom: 10px solid #000;
    padding: 10px 20px;
}

.header-content {
    display: flex;
    align-items: center;
    gap: 15px;
}

.header-icon {
    width: 50px;
    height: 50px;
}

.header-title {
    margin-left: 40px;
    font-size: 2rem;
    color: #fff;
    text-shadow: 4px 0 black, -4px 0 black, 0 4px black, 0 -4px black,
    4px 4px black, -4px -4px black, 4px -4px black, -4px 4px black;
}


/* CARTE DES PERSONNAGES */

/* Couleurs par Attribute / Element pour le fond */
.bg-electric { background-color: #33B6FE; }
.bg-ether { background-color: #FE427E; }
.bg-fire { background-color: #FF5623; }
.bg-ice { background-color: #1DAFAD; }
.bg-physical { background-color: #EDCC2C; }
.bg-wind { background-color: #0AC272; }
.bg-other { background-color: #4BEEA7; }

/* Grid des personnages */
.personnage-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

/* Carte personnage */
.personnage-card {
    border: 6px solid black;
    border-radius: 12px;
    cursor: pointer;
    padding: 10px;
    width: 180px;
    text-align: center;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
    transition: transform 0.2s, box-shadow 0.2s;
    color: #fff; /* texte en blanc pour contraste sur le fond coloré */
}

.personnage-card:hover {
    transform: translateY(-10px);
    box-shadow: 4px 6px 20px rgba(0,0,0,0.7);
}

/* Image carrée */
.personnage-img-wrapper {
    border: 4px solid #555;
    border-radius: 5px;
    overflow: hidden;
    width: 150px;
    height: 150px;
    margin: 0 auto 10px auto;
    background: black;
}

.personnage-img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* remplit le carré sans déformer */
    display: block;
}

/* Nom */
.personnage-name {
    margin: 5px 0;
    font-size: 1.1em;
    font-weight: bold;
}

/* Rareté / Rank */
.personnage-rarity {
    font-weight: bold;
    font-size: 1em;
    margin: 3px 0;
}
