@font-face {
    font-family: 'ZenlessFont';
    src: url('/public/ttf/ZenlessZoneZero_Police.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


body {
    font-family: ZenlessFont, sans-serif;
    margin: 0;
    background: #FFAF2A;
    color: #eee;
}
h1 {
    text-align: left;
    color: #A6EC34;
    margin-top: 2rem;
    margin-left: 12px;
    text-shadow: 4px 0 black, -4px 0 black, 0 4px black, 0 -4px black,
                 3px 3px black, -3px -3px black, 3px -3px black, -3px 3px black;
}

.personnage-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1rem;
    padding: 1rem;
}
.personnage-card {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 1rem;
    background: #fafafa;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
.personnage-img {
    width: 100%;
    max-width: 180px;
    border-radius: 10px;
    margin-bottom: 0.5rem;
}

.main-header {
    background-color: #FFAF2A;
    border-bottom: 10px solid #000;
    padding: 10px 20px;
}

.header-content {
    display: flex;
    align-items: center;
    gap: 15px;
}

.header-icon {
    width: 50px;
    height: 50px;
}

.header-title {
    margin-left: 36px;
    font-size: 2rem;
    color: #fff;
}